# Build Results
UnlimitedPlayers/**/Release/
UnlimitedPlayers/**/Debug/
!UnlimitedPlayers/obj/Release/UnlimitedPlayers.dll

# Visual Studio cache/options dirs
.vs
.vscode

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Ignore packages folder since we have packages.config
packages/

